{%extends "base.html"%}
{%block content%}
<h1> Скипос задач</h1>
<form >
<div class="row">
    <div class="col-3">
        <input name="name" placeholder="Название" class="form-control" value="{{request.GET.name}}">
</div>
    <div class="col-3">
        <input name="employee"  placeholder="Сотрудник" class="form-control" value="{{request.GET.employee}}">
</div>

    <div class="col-3">
        <select name="ordering" class="form-control" value="{{request.GET.ordering}}">
            <option value="deadlite"> дата</option>
            <option value="name"> Название</option>
            <option value="employee"> Сотрудник</option>
            </select>
</div>
    <div class="col-3">
<button class="btn btn-primary">  Поиск</button>
</div>
</div>
<form >

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> id</th>
            <th> название</th>
            <th> Исполитель</th>
            <th> дата</th>
        </tr>
    </thead>
    <tbody>
{% for task in task_list%}
<tr>
    <td>{{task.id}} </td>
    <td>  <a href="{{task.get_absolute_url}}">{{task.name}}</a></td>
    <td>{{task.employee.name}} </td>
    <td>{{task.deadlite}} </td>
</tr>
{%endfor%}
<tbody>
{%endblock%}
